<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom py-3">
  <div class="container">
    <a class="navbar-brand font-weight-bold text-primary" href="/" style="letter-spacing: -0.5px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check2-square mr-2 mt-n1" viewBox="0 0 16 16">
        <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
        <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
      </svg>
      Todo App <span class="text-muted font-weight-light">ORDB</span>
    </a>
    
    <button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link px-3 font-weight-600" href="/">Home</a>
        </li>

        <% if (user) { %>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link px-3 font-weight-600 d-flex align-items-center" href="/list">
              My Tasks
              <span id="navTaskPoints" class="badge badge-success ml-2" style="font-size: 0.8rem;">+<%= user.points || 0 %> pts</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 font-weight-600" href="/calendar">Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 font-weight-600" href="/dashboard">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 font-weight-600" href="/rewards">Rewards</a>
          </li>
          <li class="nav-item mx-lg-2">
            <a class="btn btn-primary-modern btn-modern px-4" href="/write">
              + New Task
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link px-3 font-weight-600 text-danger" href="/logout">Logout</a>
          </li>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link px-3 font-weight-600" href="/login">Login</a>
          </li>
          <li class="nav-item ml-lg-2">
            <a class="btn btn-outline-primary btn-modern px-4" href="/signup">Sign Up</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>