<!DOCTYPE html>
<html>
<head>
  <title>Calendar View</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>

<h1>Task Calendar</h1>

<div id="calendar"></div>

<script src="/public/calendar.js"></script>
</body>
</html>
